/* You can add global styles to this file, and also import other style files */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color:#e5dacf;
}

.general-button{
  background-color: rgb(246, 223, 92);
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border: 2px solid transparent;
}

.general-button:hover{
  border-color: #111827;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 3px solid rgb(157, 85, 4);
  border-radius: 30px;
  padding: 20px;
  z-index: 1000;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.general-input{
  border-radius: 30px;
  border: none;
}

.general-border-input{
  border-radius: 30px;
  border: 3px solid rgb(125, 119, 111);;
}